#xlabel-radio,#ylabel-radio,#zlabel-radio {
	display: inline;
}

/*
#sql-query-form label {
	display: block;
}
*/
/* do I want this to be block? */
#option-buttons {
	display: block;
}

g {
	border: none;
	padding:0pxs;
	margin:0px;
}

g.xaxis path,g.yaxis path {
	display: none;
}

div.xlabel, div.ylabel, div.zlabel,div.colorscheme,form div.width,form div.height {
	margin: 10px;
	text-align: center;
}


div#update-submit-div {
	text-align: center;
}

#outer-aggplot, #aggplot, #map, #canvas, #aggplot-form, #resulting-plot-header, #nav, #answer-select, #histogram-container,
canvas#hist1, canvas#hist2, #loading_image {
	display: none;
}

#aggplot.show {
	display: inline-block;
	position:relative;
}


#aggplot-form.show,#resulting-plot-header.show, #nav.show, #map.show, #canvas.show, #answer-select.show,
canvas#hist1.show, #loading_image.show {
	display: block;
}

#svg_aggplot {
	position: absolute;
	top: 0;
	left: 0;
}


#answer-select-checked-yes.highlight,#answer-select-checked-no.highlight {
	color: blue;
	font-weight:bold;
}
