{% extends "instructions.html" %}
{% block my_stylesheets %}
	{{super()}}
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/selections.css')}}" >
{% endblock %}
{% block my_scripts %}
	{{super()}}
	<script type="text/javascript" src="{{url_for('static',filename='js/selection.js')}}" ></script>
{% endblock %}
{% block content %}
	{% if selections %}
		<form id="delete-selections-form" method="POST" action="{% block delete_url %}{% endblock %}">
			<div id="delete-selections-buttons" class="row-fluid">
				<a class ="btn" id="select-all-button">Select/Deselect All</a>
				<input type="submit" class ="btn" value="Delete Checked Selections"/>
			</div>
			<div class="row-fluid">
				<ul class = "thumbnails">
					{% for item in selections %}
						<li class="span3">
							<div class="thumbnail">
								<img alt="300x200" style="width: 300px; height: 200px" src="{{item.image}}">
								<div class="caption">
									<!--<ul class="unstyled">
										<li>tile id: {{item.tile_id}}</li>
										<li>zoom level: {{item.zoom_level}}</li>
										<li>date chosen: {{item.datetime}}</li>
									</ul>-->
									<div>
										<label class="checkbox">
											<input type="checkbox" class="selectionThumbnail" id="selectionThumbnail{{item.id}}" name="selectionThumbnail{{item.id}}" value="{{item.id}}">Delete
										</label>
									</div>
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</form>
	{% else %}
		<p>No selections!</p>
	{% endif %}
	{{ super() }}
{% endblock %}
