{% extends "scalar/scalar_base.html" %}
{% block title %}Task 2{% endblock %}
{% block specialvars %}
	{{ super() }}
	<script type=text/javascript>
		$DATA_SET = "us1000";
		$NEXT_TASK_PAGE = "{{url_for('forms.get_posttest')}}";
		$TASK="task2";
	</script>
{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block header %}Task 2{% endblock %}
{% block taskname %} Task 2{% endblock %}
{% block task2_nav_active %}active{% endblock %}
{% block instructions %}
	<h2>Overview</h2>
	<p>This warmup will give you an opportunity to explore the ScalaR visualization system.</p>
	<h2>What You Need to Know</h2>
	<p><strong>About the Data Set</strong>: The warmup data set is a 2D array containing Normalized Difference Vegetation Index (NDVI) calculations from the MODIS data set. The two dimensions are latitude (x) and longitude (y). A high NDVI value (1.0) means that particular latitude/longitude area contains a high amount of vegetation (trees, shrubs, grass etc.). A low value (-1.0) means that particular part of the earth does not contain vegetation.
	</p>
	<p>
		<strong>Goal(s)</strong>Goal: find areas in the data set with at least 50% snow cover.
	</p>
{% endblock %}
{% block donebutton %}Task 2{% endblock %}
{% block next %}{{ url_for('scalar.task2_selections')}}{% endblock %}
