{% extends "scalar/scalar_base.html" %}
{% block title %}Warmup{% endblock %}
{% block specialvars %}
	{{ super() }}
	<script type=text/javascript>
		$DATA_SET = "cali100";
		$NEXT_TASK_PAGE = "{{url_for('scalar.task1')}}";
		$TASK="warmup";
    $RESOLUTION_LVL = 10000;
	</script>
{% endblock %}
{% block header %}Warmup{% endblock %}
{% block taskname %} Warmup{% endblock %}
{% block warmup_nav_active %}active{% endblock %}
{% block instructions %}
	<h2>Overview</h2>
	<p>This warmup will give you an opportunity to explore the ScalaR visualization system. You must complete the warmup goal below to move on to Task 1 and Task 2. The Warmup Selections page shows your progress as you select visualizations to complete the warmup goal.</p>
	<h2>What You Need to Know</h2>
	<p><strong>About the Data Set</strong>: The warmup data set is a 2D array containing Normalized Difference Vegetation Index (NDVI) calculations from the MODIS data set. The two dimensions are latitude (x) and longitude (y). A high NDVI value (1.0) means that particular latitude/longitude area contains a high amount of vegetation (trees, shrubs, grass etc.). A low value (-1.0) means that particular part of the earth does not contain vegetation.
	</p>
	<p>
		<strong>Goal(s)</strong>: find the following data tiles (this will require inverting the y and z axes to get the correct visualizations):
	</p>
	<div id="example-images">
		<img class="span3" src="{{ url_for('static',filename='images/scalar/warmup/example1.png') }}">
		<img class="span3" src="{{ url_for('static',filename='images/scalar/warmup/example2.png') }}">
		<img class="span3" src="{{ url_for('static',filename='images/scalar/warmup/example3.png') }}">
		<img class="span3" src="{{ url_for('static',filename='images/scalar/warmup/example4.png') }}">
	</div>
{% endblock %}
{% block donebutton %}Warmup{% endblock %}
{% block next %}{{ url_for('scalar.warmup_selections')}}{% endblock %}
{% block extra_content %}
{% endblock %}
