{% extends "instructions.html" %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap/css/bootstrap.css')}}">
	{{ super() }}

	<script type="text/javascript" src="{{url_for('static',filename='bootstrap/js/bootstrap.js')}}" ></script>
{% endblock %}
{% block title %}Done{% endblock %}
{% block header %}Done{% endblock %}
{% block content %}
	<p>Thank you for participating in the ScalaR user study. Close this browser window/tab to exit.</p>
{% endblock %}
