{% extends "instructions.html" %}
{% block title %}Welcome{% endblock %}
{% block header %}ScalaR User Study{% endblock %}
{% block welcome_nav_active %}active{% endblock %}
{% block content %}
	<div>
		<p class="lead">
Welcome! This website is part of a research study on the effectiveness of ScalaR, a visual data exploration tool.
		</p>
		<p>
If you are interested in participating in the study, click on the start button below. This will bring you to the consent page, which will describe the expectations and procedures of the study. After providing your consent to participate, you will be asked to do the following:
		</p>
		<ul>
			<li>
				<p>Complete 2 questionnaires (10 minutes)</p>
<!--
				<ul>
					<li>A demographics questionnaire at the beginning of the experiment</li>
					<li>A satisfaction survey at the end of the experiment</li>
				</ul>
-->
			</i>
			<li>
				<p>Learn how to use ScalaR (10 minutes)</p>
<!--
				<ul>
					<li>Read a short introduction to ScalaR's functionality</li>
					<li>Explore ScalaR's  functionality on a simple data set</li>
				</ul>
-->
			</li>
			<li>
				<p>Complete three research-related tasks using ScalaR (60 minutes)</p>
<!--
				<ul>
					<li>Identify subsets of the provided data sets that meet given visual requirements using ScalaR</li>
				</ul>
-->
			</li>
		</ul>
		<p>
participation is entirely voluntary and you can stop the study at any time by closing the browser window/tab. No personally identifiable information will be requested or recorded in this user study.
		</p>
	</div>
	{{ super() }}
{% endblock %}
{% block next %}{{ url_for('forms.get_consent') }}{% endblock %}
{% block submit_text %}Start{% endblock %}
