<html>
<head>
	<title>Welcome - ScalaR User Study</title>
</head>


<body>
	<h1>ScalaR User Study</h1>
	<div>
		<p>
Welcome! We've created a visualization system called ScalaR to facilitate the exploration of scientific data. This website is part of a research study on the effectiveness of ScalaR as a visual data exploration tool.
		</p>
		<p>
If you are interested in participating in the study, click on the start button below whenever you are ready. This will bring you to the consent page, which will describe in detail the expectations and procedures of the user study. After providing your consent to participate, you will be asked to do the following:
		</p>
		<ul>
			<li>
				<p>Complete 2 questionnaires (10 minutes):</p>
				<ul>
					<li>A demographics questionnaire at the beginning of the experiment</li>
					<li>A satisfaction survey at the end of the experiment</li>
				</ul>
			</i>
			<li>
				<p>Learn how to use ScalaR (10 minutes):</p>
				<ul>
					<li>Read a short introduction to ScalaR's functionality</li>
					<li>Explore ScalaR's  functionality on a simple data set</li>
				</ul>
			</li>
			<li>
				<p>Complete two research-related tasks using ScalaR (40 minutes):</p>
				<ul>
					<li>Identify subsets of the provided data sets that meet given visual requirements using ScalaR</li>
				</ul>
			</li>
		</ul>
		<p>
participation is entirely voluntary and you can stop participating at any time. Close this browser window/tab to stop the study. None of your personal information will be requested or recorded in this user study.
	</div>
	<form id="start-study-button" method="POST" action="/forms/consent/show/">
		<input type="submit" value="Start"/>
	</form>
</body>
</html>
